.mycolor{
    color: aquamarine;
    font-family: cursive;
    font-style: oblique;
}
.relative{
    color: rgb(20, 136, 136);
    font-family: monospace;
    font-style: inherit;
}
.cup{
    color: lavenderblush;
    font-family: sans-serif;
    font-style: italic;
}
.zero{
    background-color: black;
}
.eraser{
    color: black;
    font-size: 32px;
    font-weight: 700;
    font-family: serif;
    text-align: center;
    margin: 40px 0px;
}
.preference{
    color:black;
    font-family: inherit;
    font-size:20px ;
    margin: 40px 0px;
    text-align:center;
}
.shape{
    margin:40px 0px;
}

.blackbutton{
    margin:30px 0px;
    padding-left:20px;
    text-align:center;
}
.book{
    display:flex;
    justify-content: space-around;
    /* box-shadow: 10px 20px black !important; */
}
.ork1, .ord2, .ord3{
    margin:10px 0px;
    /* box-shadow: 10px 20px black !important; */
    width:30%;
    
}
/* .ord2{ */
    /* margin:10px 0px; */
    /* box-shadow: 10px 20px black !important; */
/* } */
/* .ord3{
    margin:10px
} */

