.mycolor{
    color:rgb(20, 136, 136);
    font-family:cursive;
    font-style:inherit;
}
.system{
    padding-left: 0.5em;
}
.relative{
    color: rgb(20, 136, 136);
    font-family:cursive;
    font-style: inherit;
}
.cup{
    color:rgb(20, 136, 136);
    font-family:cursive;
    font-style: inherit;
}
.zero{
    background-color: black;
}
.eraser{ 
    color: black;
    font-size: 32px;
    font-weight: 700;
    font-family: serif;
    text-align: center;
    margin: 40px 0px;
}
.preference{
    color:black;
    font-family: inherit;
    font-size:20px ;
    margin: 40px 0px;
    text-align:center;
}
.shape{
    margin:40px 0px;
}

.blackbutton{
    margin:30px 0px;
    padding-left:20px;
    text-align:center;
}
.book{
    display:flex;
    justify-content: space-around;
    /* box-shadow: 10px 20px black !important; */
}
.ork1, .ord2, .ord3{
    margin:10px 0px;
    /* box-shadow: 10px 20px black !important; */
    width:30%;
    
}
/* .ord2{ */
    /* margin:10px 0px; */
    /* box-shadow: 10px 20px black !important; */
/* } */
/* .ord3{
    margin:10px
} */
.fenty, .name{
    /* background-color:lightgray; */
    padding:10px 10px;
}
.black{
    color:palevioletred !important;
}
.beauty{
    color:palevioletred;
}
.mycolor3{
    color: rgb(20, 136, 136);
    font-family: monospace;
    font-style: inherit;
}
.images{
     justify-content:space-around !important;
    display:flex;
    /* background-color:lightgray; */
    padding:50px 30px;
    margin:10px 10px;
    flex-direction: column;
    widows:100px;
    flex-direction: row;
    /* height: 100px; */
    flex-wrap: wrap;
}
.foundation{
    justify-content: space-around;
    display: block;
    flex-direction: column;
}
.maltina{
    /* padding:10px 10px; */
    /* font-weight: 800px; */
    color:darkslategrey;
    font-size:50px;
    font-style: oblique;
    text-align: center;
}
.brush{
    justify-content: space-around !important;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    flex-direction: row;
    flex-wrap: wrap;
}
.yellow{
 color:darkgrey;
 font-size:5em ;
 font-family:courier;
}
.orange{
    text-align: center;
    background-color: palevioletred;
}
.pink{
    color:;
    font-size:3em;
    font-family:
}
.silver{
    margin: 0 auto;
    padding-top: 9%;
}
.navright{
    padding-left: 70%;
}
.water{
    border-radius:10px;
    font-size:1.5em;
    padding:1.25% 3.75%;
    background-color: darkgrey;
}
.contact{
    text-align: center;
    background-color: papayawhip;
}
.note{
    color: black;
    padding-left: ;
}
.book{
    text-align: center;
}
.men{
    padding-left: 50px;
    padding-top: 30px;
}
.corn{
    padding-left: 30px;
}